[submodule ".\\platformer\\lib\\sti"]
	path = .\\platformer\\lib\\sti
	url = https://github.com/karai17/Simple-Tiled-Implementation.git
[submodule ".\\platformer\\lib\\bump"]
	path = .\\platformer\\lib\\bump
	url = https://github.com/kikito/bump.lua.git
[submodule "gamera"]
	path = platformer/lib/gamera
	url = git@github.com:kikito/gamera.git
[submodule "bytepath/classic"]
	path = bytepath/lib/classic
	url = https://github.com/rxi/classic.git
[submodule "bytepath/boipushy"]
	path = bytepath/lib/boipushy
	url = https://github.com/a327ex/boipushy.git
[submodule "bytepath/hump"]
	path = bytepath/lib/hump
	url = https://github.com/vrld/hump.git
[submodule "bytepath/Moses"]
	path = bytepath/lib/Moses
	url = https://github.com/Yonaba/Moses.git
